body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0;
    color: #1e2939;
}

p {
    color: #364153;
}

#table-of-contents {
    margin: 0 auto;
    padding: 20px;
    width: 50vw;
    text-align: center;
    background-color: rgb(243,244,246);
}

#table-of-contents ul {
    padding: 0;
    list-style: none;
}

.recipe {
    margin-bottom: 10px;
}

.recipe-cover {
    width: 750px;
    height: auto;
}

.recipe-description {
    font-style: italic;
}

.ingredient {
    padding: 5px;
}

.step {
    margin-bottom: 50px;
}

.step-title {
    margin-bottom: 0;
    text-decoration: underline;
}

.step-description {
    margin-top: 8px;
}

.step img {
    width: 375px;
    height: auto;
}